{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
<div class="container" style="width: 400px; margin-top: 100px; border: #0d6efd">
    <form novalidate method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="mb-3">
                {% bootstrap_form form %}
        </div>
        <button type="submit" class="btn btn-outline-warning btn-sm btn-form-submit mb-0 mt-2">Регистрация</button>
    </form>
</div>
</body>
<style>
    body {
        background: black;
    }

    label {
        color: white;
    }

    form {
        padding: 20px;
        background-color: rgba(24, 24, 26, 0.96);
        border-radius: 20px;
    }

    .btn-form-submit {
        font-size: 16px;
    }

    .form-text {
        color: gray!important;
    }

    ul {
        list-style-type: disc;
    }
</style>
</html>