{% load static %}
{% load askme_tags %}
{% include 'inc/base.html' %}

{% block content %}
    {% get_author_info user.id as author %}
    <link href="{% static "css/user_page_new.css" %}" rel="stylesheet">
    <div class="container2">
        <div class="header-container">
            <img src="/{{ author.author.avatar }}" alt="" class="header-image"/>
            <div class="header">
                <svg fill="#ffffff" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"
                     class="header-icon">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                </svg>

                <h1 class="main-heading">{{ user.first_name }} {{ user.last_name }}</h1>
                <span class="tag">{{ user.username }}</span>
                <span class="tag">{{ user.email }}</span>
                <div class="stats">
                    {#        <span class="stat-module">#}
                    {#          Movies <span class="stat-number">56</span>#}
                    {#        </span>#}
                    {#                    <span class="stat-module">#}
                    {#          Plays <span class="stat-number">29</span>#}
                    {#        </span>#}
                    {#                    <span class="stat-module">#}
                    {#          Musicals <span class="stat-number">11</span>#}
                    {#        </span>#}
                </div>
            </div>
        </div>

        <div class="overlay-header"></div>

        <div class="body">
            <img src="/{{ author.author.avatar }}" alt="Hugh Jackman" class="body-image"/>
            <div class="body-action-button u-flex-center" id="my-button">
                <svg fill="#ffffff" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="18">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier"><title></title>
                        <g id="Complete">
                            <g id="edit">
                                <g>
                                    <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8" fill="none"
                                          stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2"></path>
                                    <polygon fill="none" points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8"
                                             stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
                                             stroke-width="2"></polygon>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <span class="body-stats">Постов: <span>{{ author.count_post }}</span></span>
            <span class="body-stats">Ответов: <span>{{ author.count_responses }}</span></span>
            <div class="u-clearfix"></div>
        </div>
    </div>
    {# Редактирование #}
    <div class="edit-view" id="edit-view">
        <form method="post" enctype="multipart/form-data" action="{% url 'user_page' %}">
            {% csrf_token %}
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required><br><br>

            <label for="first_name">Имя:</label>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br><br>

            <label for="last_name">Фамилия:</label>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br><br>

            <label for="avatar">Аватар:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*"><br><br>
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit" class="btn btn-outline-warning btn-sm btn-form-submit mb-4 mt-2">Отправить</button>
        </form>
    </div>
    <script>
        const editionView = document.getElementById('edit-view')
        editionView.hidden = true

        document.getElementById("my-button").addEventListener("click", function () {
            editionView.hidden = !editionView.hidden
        });
    </script>
{% endblock content %}