{% load static %}
{% load askme_tags %}

{% block content %}
    <style>
        .single_advisor_profile {
            position: relative;
            margin-bottom: 50px;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            z-index: 1;
            border-radius: 15px;
            -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
            box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
            overflow: hidden; /* Add overflow: hidden to hide any content that overflows the card */
        }

        .single_advisor_profile .advisor_thumb {
            position: relative;
            z-index: 1;
            border-radius: 15px 15px 0 0;
            margin: 0 auto;
            padding: 0;
            background-color: #3f43fd;
            overflow: hidden;
            height: 200px; /* Set the height of the advisor_thumb to 100% */
        }

        .single_advisor_profile .advisor_thumb img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <div class="col-12 col-sm-6 col-lg-3">
        <a href="/user/{{ user.user.id }}">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="advisor_thumb"><img src="/{{ user.avatar }}" alt="">
                    <div class="social-info">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="single_advisor_details_info">
                    <h6>{{ user.user.username }}</h6>
                    <p class="designation">{{ user.user.email }}</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
