{% load static %}
{% load askme_tags %}

{% block content %}
    <link href="{% static "css/user_page.css" %}" rel="stylesheet">
    <div class="col-12 col-sm-6 col-lg-3">
        <a href="/user/{{ user.user.id }}">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="advisor_thumb"><img src="/{{ user.avatar }}" alt="">
                    <div class="social-info">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="single_advisor_details_info">
                    <h6>{{ user.user.username }}</h6>
                    <p class="designation">{{ user.user.email }}</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
