#my-textarea {
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
}

#my-textarea:focus {
    outline: none;
    border-color: blue;
}

/*.text-field-for-respond {*/
/*    color: #fff;*/
/*}*/

/*.text-field-for-respond label {*/
/*    color: #fff;*/
/*}*/

/*.text-field-for-respond textarea {*/
/*    background-color: #000000;*/
/*    color: #fff;*/
/*}*/

/*.text-field-for-respond .btn-form-submit {*/
/*    color: #fff;*/
/*    border-color: #555;*/
/*}*/