body {
    background-color: #000;
    color: #fff;
}

.event {
    background-color: rgba(24, 24, 26, 0.96);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/*.question-logo {*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    border-radius: 50%;*/
/*    object-fit: cover;*/
/*    margin-right: 10px;*/
/*}*/

.event h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.event a {
    text-decoration: none;
    color: #ffffff;
}

.event a:hover {
    color: #ffe857;
}

.event .category {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgba(182, 112, 8, 0.98);
}

.event .description {
    font-size: 14px;
    margin-bottom: 10px;
}

.event .datetime {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

.event .price {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

.event .address {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

.event .organizer {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

.event .contacts {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

header ul li a {
    transition: transform .6s ease!important;
}

header ul li a:hover {
    color: #eb5959!important;
    text-decoration: none;
    transform: scale(1.05);
}

#StackOverflow_button {
    color: #ffc107!important;
}

#searching_text {
    width: 300px!important;
}

header {
    border-bottom: 1px solid gray;
}


