
main > .container {
    padding: 60px 15px 0;
}

.question {
    margin-bottom: 10px;
    border: 2px solid black;
    height: 220px;
    border-radius: 20px;
    padding: 10px;
}

.question-logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.question-logo > img {
    height: 100%;
    width: 100%;
}

.question-text {
    margin-bottom: 5%;
}
