.container {
    margin: 0 auto;
    padding: 20px;
}

.event {
    background-color: rgba(24, 24, 26, 0.96);
    border-radius: 10px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 50px;
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.author-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

h2 {
    margin-bottom: 10px;
}

.category {
    display: inline-block;
    margin-right: 10px;
    /*padding: 5px 10px;*/
    /*background-color: #000000;*/
    color: #333;
    border-radius: 20px;
    text-decoration: none;
}

.question-text {
    margin-bottom: 20px;
}

.category-count {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #333;
}

.link:hover {
    text-decoration: underline;
}

