{% load static %}
{% load askme_tags %}

{% block content %}
<div class="question">
    <div class="row">
        <div class="col-2">
            <img src="/{{ post.author.avatar }}" class="question-logo" alt="logo">
        </div>
        <div class="col-10">
            <h2><a href="/question/{{ post.id }}"> {{ post.title }} </a></h2>

            <div class="question-text">
                {{ post.content|truncatechars:300  }}
            </div>

            <div class="row">
                {# ==== Теги ===#}
                {% get_tags post.id as tags %}
                {% get_responses_under_post post.id as responses %}

                <div class="col-2">
                    Ответы ({{ responses.count }})
                </div>
                <div class="col-6">
                    {% for tag in tags %}
                        <a href="#">{{ tag.tag.name }}</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
