{% load static %}
{% block content %}
<div class="question">
    <div class="row">
        <div class="col-2">
            <img src="{% static "img/logo.jpeg" %}" class="question-logo" alt="logo">
        </div>
        <div class="col-8">
            <h2><a href="/question/{{ data.id }}"> {{ data.title }} </a></h2>

            <div class="question-text">
                {{ data.text }}
            </div>

            <div class="row">
                <div class="col-2">
                    Ответы ({{ data.count_response }})
                </div>
                <div class="col-6">
                    Tags:
                    {% for tag in data.tags %}
                        {#TODO: Ссылка переделать!!#}
                        <a href="{{ tag.id_tag }}">tag.name_tag</a>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
