{% extends 'inc/base.html' %}

{% block content %}
    <div class="new-question-page left-column mt-5 col-9">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <h1>Новый пост</h1>
                <hr/>
                <form method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Заголовок</label>
                        <input name="title" type="text" class="form-control" id="title" style="background-color: #000000;" placeholder="Введите заголовок">
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Текст вопроса</label>
                        <textarea name="text" class="form-control" style="background-color: #000000;" id="text" rows="3"
                                  placeholder="Содержимое"></textarea>
                    </div>

                    <div class="mb-6" style="margin-bottom: 20px;">
                        <label for="tag_select">Выберите теги для поста:</label><br>
                        <select name="tags[]" id="tag_select" class="form-select" style="background-color: #000000; color: white;" multiple aria-label="Выберите теги">
                            {% for el in tags %}
                                <option value="{{ el.id }}">{{ el.name }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <button type="submit" class="btn btn-outline-warning btn-sm btn-form-submit mb-4 mt-2">Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
