{% load static %}
{% load bootstrap4 %}
{#pip install django-bootstrap4#}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
<div class="container" style="width: 400px; margin-top: 100px; padding: 30px; border: #0d6efd">
    <form novalidate method="POST" action="/login/">
        {% csrf_token %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
        <button type="submit" class="btn btn-primary">Вход</button>
    </form>
</div>
</body>
</html>