{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <title>StackOverflow</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div>
        <h1 id="StackOverflow_emblem" href="{% url 'main' %}" class="nav-link px-2 text-secondary">StackOverflow</h1>
        <div class="animation">
            <span>У каждого</span>
            <span class="changingWord" id="changingWord">web-разработчика</span>
            <span>есть аккаунт в StackOverflow</span>
        </div>
        <div class="container2">
            <div class="block">100+ миллионов посещений каждый месяц</div>
            <div class="block">Найди ответ на любой вопрос или задай свой</div>
            <div class="block">Самый популярный форум по программированию</div>
        </div>
        <div id="registration_field">
            <a id="btn_reg" type="button" href="{% url 'register' %}" class="btn btn-warning">Присоединяйтесь!</a>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </div>
{% endblock content %}