{% load static %}
{% load askme_tags %}

{% block content %}
    <body>
    <main class="container">
        <div class="event">
            <div class="row">
                <div style="width: 100%;" class="col-11">
                    <div class="author-info">
                        <img src="/{{ post.author.avatar }}" class="question-logo" style="height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;" alt="logo">
                        <span class="author-name">{{ post.author.user.username }}</span>
                    </div>

                    <h2 style="border-bottom: 1px solid gray; padding-bottom: 10px;"><a href="/question/{{ post.id }}">{{ post.title }}</a></h2>
                    <div class="row">
                        {% get_tags post.id as tags %}
                        {% get_responses_under_post post.id as responses %}

                        <div class="col-2">
                            {% for tag in tags %}
                                <a class="category" href="/tag/{{ tag.tag_id }}">{{ tag.tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="question-text">
                        {{ post.content|truncatechars:400 }}
                    </div>
                    <div class="col-2" style="justify-content: space-between; display: flex; width: 100%;">
                        <p class="category" style="">Ответы ({{ responses.count }})</p>
                        <style>
                            #btn_a:hover {
                                text-decoration: underline;
                            }
                        </style>
                    </div>
                    <div style="justify-content: space-between; display: flex; width: 100%;">
                        {% include 'add_like_blog.html' with blog_post_id=post.id %}
                        <a id="btn_a" href="/question/{{ post.id }}" style="color: #5c91e0;}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock content %}
