{% load static %}

{% block content %}
    <style>
    #respond_view {
        background: rgba(14, 14, 16, 0.96);
    }
    </style>
    <div class="col-md-12" id="respond_view">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <img id="logo-in-respond" src="/{{ respond.response.author.avatar }}"
                 style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-top: 10px; margin-left:  10px"
                 alt="avatar"/>
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2" style="color: #0dcaf0">{{ respond.response.author.user.username }}</strong>
                <div class="mb-1 text-body-secondary" style="color: #525252">{{ respond.response.date_response }}</div>
                <p class="card-text mb-auto">{{ respond.response.content }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
