{% extends "inc/base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="col-md-12" id="respond_view">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <img id="logo-in-respond" src="{% static 'img/logo.jpeg' %}"
                     style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-top: 10px; margin-left:  10px"/>
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Name User</strong>
                    <div class="mb-1 text-body-secondary">Nov 12</div>
                    <pre><p> class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content. </p></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}